.home {
  display: flex;
  flex-direction: column;
}

.home__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.home__body img {
  height: 190px;
  object-fit: contain;
}

.home_footer {
  background-color: #f2f2f2;
  height: 60px;
  margin-top: 80px;
}

.home_footer p {
  text-align: center;
  line-height: 60px;
}
